<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtkSharp" version="3.22.24.10" targetFramework="net461" />
  <package id="CairoSharp" version="3.22.24.10" targetFramework="net461" />
  <package id="GdkSharp" version="3.22.24.10" targetFramework="net461" />
  <package id="GioSharp" version="3.22.24.10" targetFramework="net461" />
  <package id="GLibSharp" version="3.22.24.10" targetFramework="net461" />
  <package id="GtkSharp" version="3.22.24.10" targetFramework="net461" />
  <package id="GtkSharp.Win32" version="3.1.2" targetFramework="net45" />
  <package id="MonoGame.Framework.DesktopGL" version="3.6.0.1625" targetFramework="net45" />
  <package id="PangoSharp" version="3.22.24.10" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net46" />
</packages>